<!--<h5>Reservation</h5>-->


<!--<form [formGroup]="reservationFormGroup">-->
  <!--EMAIL ADDRESS-->
  <!--<div class="form-group">
    <label for="emailAddress">Email Address</label>
    <input type="email" class="form-control" id="emailAddress" aria-describedby="emailAddressHelp" name="emailAddress" />-->
    <!--<div *ngIf="reservationForm.get('emailAddress')!.hasError('required') && reservationForm.get('emailAddress')!.touched" class="text-danger">
      Email Address is required.
    </div>
    <div *ngIf="reservationForm.get('emailAddress')!.hasError('email') && reservationForm.get('emailAddress')!.touched" class="text-danger">
      Email Address is invalid.
    </div>-->
  <!--</div>-->


  <!--REVERSATION TIME-->
  <!--<div class="form-group">
    <label for="reservationTime">Reservation Time</label>
    <select class="form-select form-select-sm" aria-label="Time Selection">
      <option ></option>
      <option >6:00 AM</option>
      <option >7:00 AM</option>
      <option >8:00 AM</option>
      <option >9:00 AM</option>
      <option >10:00 AM</option>
      <option >11:00 AM</option>
      <option >12:00 PM</option>
      <option >1:00 PM</option>
      <option >2:00 PM</option>
      <option >3:00 PM</option>
      <option >4:00 PM</option>
      <option >5:00 PM</option>
      <option >6:00 PM</option>
      <option >7:00 PM</option>
      <option >6:00 PM</option>
    </select>-->

    <!--<div *ngIf="reservationForm.get('timeSlot')!.hasError('required') && reservationForm.get('timeSlot')!.touched" class="text-danger">
      Reservation Time is required.
    </div>-->
  <!--</div>-->


  <!--SUBMIT-->
  <!--<button class="btn-primary btn" (click)="submitReservation()">Submit</button>-->
<!--</form>-->

