<h5 style="color:black;">
  Membership Received!
</h5>

<p style="color:black;">Thank you for submitting a Membership application. We will be in contact once approved.</p>

<a href="/" style="color:black;">Go home</a>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Membership Received!</h5>
    <p class="card-text">
      Thank you for submitting a Membership application. We will be in contact once approved.

      
    </p>
    <a href="/" style="color:blue;">Go home</a>
</div>