<h1 style="text-align:center; font-size:60px"><ins>References</ins></h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/images/noncopyrightedcopyrightsymbol.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Copyright Checklist</h5>
    <p class="card-text"></p>
    <button class="btn-primary btn" (click)="goToCopyright()">Copyright Checklist</button>
  </div>
</div>

<br />

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/reference-items/planofworklogimg.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Plan of Work Log</h5>
    <p class="card-text"></p>
    <button class="btn-primary btn" (click)="goToWorklog()">Plan of Work Log</button>
  </div>
</div>

<br />

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/reference-items/citationsimage.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Citations</h5>
    <p class="card-text"></p>
    <button class="btn-primary btn" (click)="goToDocumentation()">Documentation</button>
  </div>
</div> 
