<h5 style="color:black;">
  Reservation Confirmed!
</h5>

<p style="color:black;">Thank you for submitting a reservation request. We will be in contact soon with updates.</p>

<a href="/" style="color:black;">Go home</a>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reservation Confirmed!</h5>
    <p class="card-text">
      Thank you for submitting a reservation request. We will be in contact soon with updates.

      
    </p>
    <a href="/" style="color:blue;">Go home</a>
</div>