<h1 style="text-align:center; font-size:60px"><ins>Membership Information</ins></h1>
<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">Benefits</th>
      <th scope="col">Non-Member</th>
      <th scope="col">Member</th>
      <th scope="col">Mind-Member</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">Normal Hours</th>
      <td>X</td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Extended Hours</th>
      <td></td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Access to Events</th>
      <td></td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Reduced Reservation Costs</th>
      <td></td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Access to Community Projects</th>
      <td></td>
      <td></td>
      <td>X</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Cost</th>
      <td>Free</td>
      <td>10$/month</td>
      <td>30$/month</td>
    </tr>
  </tbody>
</table>
